$full: 100%;

div.new {
        opacity: 0;
        animation: fadeIn .3s linear forwards;
    }
 
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

div.removed {
    animation: removed-item-animation .8s cubic-bezier(.65,-0.02,.72,.29);
}
 
@keyframes removed-item-animation {
   0% {
        opacity: 1;
        transform: translateX(0);
    }
 
    30% {
        opacity: 1;
        transform: translateX(-30px);
    }
 
    100% {
        opacity: 1;
        transform: translateX(800px);
    }
}


#sidebar {
  .checkbox-inline {
    width: 40%;
    margin-bottom: 2%;
  }

  #filter {
    width: $full;
  }

  select, input[type='range'] {
    margin-bottom: 10px;
  }

}

#right {
  padding-left: 30px;

  #more {
    width: $full;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .btn-xs {
    float: right;
    margin-top: 5%;
  }

  h2 {
    float: left;
  }

  p {
    clear: both;
  }
}